NOTIFICATION_SERVICE_HOST=notification-service
AUTH_SERVICE_HOST=auth_service

SHORTENER_DB_HOST=url-shortener-db
SHORTENER_DB_PORT=5432
SHORTENER_DB_NAME=url-shortener-db
SHORTENER_DB_USER=admin
SHORTENER_DB_PASSWORD=password
DATABASE_TYPE=postgres

SHORTENER_SERVICE_HOST=url-shortener
SHORTENER_SERVICE_PORT=8000
LINK_EXPIRY_PERIOD_IN_DAYS=2
ALLOWED_HOSTS_TO_SHORTEN=${NOTIFICATION_SERVICE_HOST},${AUTH_SERVICE_HOST}
URL_SHORTENER_API_SECRET_KEY=URL_SHORTENER_API_SECRET_KEY